/* John Doe */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 85%;
    background-color: #4766B8;
    margin: 0;
    padding: 0;
  }
  #page {
    width: 710px;
    background-color: white;
    margin-left: 150px;
    border: 2px solid black;
    padding: 10px;
  }
  #banner {
    margin-bottom: 1em;
    & #banner-image{
      height: 85px;
      width: 300px;
    }
  }
  #navigation {
    margin-top: 1em;
    background-color: white;
    & #nav-image {
      height: 56px;
      width: 560px;
    }
  }
  #sidebar {
    background-color: white;
    margin-bottom: 0.7em;
    float: left;
    & #sidebar-image {
      width: 150px;
      height: 350px;
    }
  }
  .copyright {
    font-size: 90%;
    text-align: right;
    margin: 0;
  }
  /* the styles for the table*/
  table {
    border: 1px black solid;
    border-collapse: collapse;
  }
  caption {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 150%;
    color: #4766B8;
  }
  td,
  th {
    border: 1px solid black;
    padding: 0.2em 0.7em;
    font-size: 95%;
  }
  .alignRight {
    text-align: right;
  }
  #footer {
    margin-top: 0.5ems;
    border: 2px gray;
    padding-top: 0.7ems;
    clear: left;
  }